<a href="https://colab.research.google.com/github/19pa1a0413/VITBML-EDA1/blob/master/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
m = pd.read_csv("/content/Share 'master.csv")
m

       ï»¿country  year  ... gdp_per_capita ($)       generation
0         Albania  1987  ...                796     Generation X
1         Albania  1987  ...                796           Silent
2         Albania  1987  ...                796     Generation X
3         Albania  1987  ...                796  G.I. Generation
4         Albania  1987  ...                796          Boomers
...           ...   ...  ...                ...              ...
27815  Uzbekistan  2014  ...               2309     Generation X
27816  Uzbekistan  2014  ...               2309           Silent
27817  Uzbekistan  2014  ...               2309     Generation Z
27818  Uzbekistan  2014  ...               2309     Generation Z
27819  Uzbekistan  2014  ...               2309          Boomers

[27820 rows x 12 columns]

In [7]:
m.dropna

<bound method DataFrame.dropna of        ï»¿country  year  ... gdp_per_capita ($)       generation
0         Albania  1987  ...                796     Generation X
1         Albania  1987  ...                796           Silent
2         Albania  1987  ...                796     Generation X
3         Albania  1987  ...                796  G.I. Generation
4         Albania  1987  ...                796          Boomers
...           ...   ...  ...                ...              ...
27815  Uzbekistan  2014  ...               2309     Generation X
27816  Uzbekistan  2014  ...               2309           Silent
27817  Uzbekistan  2014  ...               2309     Generation Z
27818  Uzbekistan  2014  ...               2309     Generation Z
27819  Uzbekistan  2014  ...               2309          Boomers

[27820 rows x 12 columns]>

In [13]:
m.median()

year                    2002.000
suicides_no               25.000
population            430150.000
suicides/100k pop          5.990
HDI for year               0.779
gdp_per_capita ($)      9372.000
dtype: float64

In [14]:
x.min()

ï»¿country                      Albania
year                               1985
sex                              female
age                         15-24 years
suicides_no                           0
population                          278
suicides/100k pop                     0
country-year                Albania1987
HDI for year                      0.483
gdp_for_year ($)      1,002,219,052,968
gdp_per_capita ($)                  251
generation                      Boomers
dtype: object

In [0]:
import matplotlib.pyplot as plt
m = pd.read_csv("/content/Share 'master.csv")

In [20]:
import seaborn as sns
f = regplot(x="suicides_no",y="population",data=m)
f

NameError: ignored

In [0]:
import seaborn as sns
e = sns.boxplot(x="suicides_no",y="population",data=m,color="red")
e

# **team name:SNAP TEAM**
### team members:
# 19PA1A0413 - A PURNA SATISH
# 19PA1A0425 - CH PAVAN KUMAR
# 19PA1A0415 - B NAGA SAI
# 19PA1A0401 - A ASHRAF